*.jpg
*.png
*.txt

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
Detectron.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pkl

# Pycharm editor settings
.idea

# project dirs
detectron/datasets/data/gun/
detectron/utils/
scripts/
